.container h1 {
    text-align: center;
}

.dRecepta {
    border: 1px solid black;
    overflow-y: scroll;
    height: 25em;
}

.nRecepta {
    margin-left: 3em;
    border: 1px solid black;
    border-radius: 3px;
}

.recepta {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.descripcio {
    border: 2px solid black;
    margin-left: 2em;
}

.descripcio p {
    margin: 0.3em;
}

.ingredients {
    margin-left: 15em;
    border: 2px solid black;
    margin-top: 0.5em;
}

.ingredients p {
    margin: 0.3em;
}

.introduirNom {
    width: 60%;
    float: right;
    margin: 1rem;
}

#recepta {
    height: 100px;
}

#ingredients {
    margin-top: 1em;
}

.nRecepta button {
    margin-top: 1em;
}

.buttSend {
    margin: 1em;
}