<div class="container">

    <h1>Les meves receptes de cuina</h1>
    <div class="row" style="margin-top: 30px">
        <div class="col-8">
            <h3>Receptes</h3>
        </div>
        <div class="col" style="margin-left: 3em">
            <h3>Nova recepta</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-8 dRecepta">
            <app-receptes></app-receptes>
            <div class="row" style="margin-top: 30px">
                <div class="col-8">
                    <app-comentari-form></app-comentari-form>
                </div>
            </div>
        </div>

        <div class="col nRecepta">
            <app-receptes-formulari></app-receptes-formulari>
        </div>

    </div>

</div>